
/* ============================================= GERAL ======================================== */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    width: 100%;
    height: 100%;
    
}

:root{
    --primary-color:  hsl(210, 11%, 15%);
    --secondary-color: #8257E5;
    font-size: 62.5%; /*1 rem = 10 px / reseta o rem para ficar igual px*/ 
    --button: #8257E5;
}

body{
    font-family: "DM Sans";
    font-size: 1.6rem; /*1.6rem = 16px*/

    text-align: center;

    overflow: overlay;
    background-color: var(--primary-color);

}


/* ============================================= CORPO DA PÁGINA ======================================== */

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width:45rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
  
}


.body-container .wrapper h2{
    position: relative;
    width: 37.5rem;
    height: 12.8rem;
    top: 12rem;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.1rem;
    text-align: center;
    letter-spacing: 0.09em;
    color: #FFFFFF;
}


.wrapper .button-link{
    box-sizing: border-box;



    font-family: 'Manrope';
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    line-height: 10rem;

  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;

    position: absolute;
    width: 24rem;
    height: 5rem;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    top: 45rem;

    border: 2px solid var(--secondary-color);
    border-radius: 6px;

    text-decoration: none;
    color: white;
}

.button-link span{
    font-size: 2.5rem;
}


.wrapper h1{
    position: absolute;
    width: 296px;
    height: 54px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    top:55rem;
    

    font-family: 'Manrope';
    font-weight: 700;
    font-size: 5rem;
    color: #FFFFFF;



}

.wrapper p{
    position: absolute;
    width: 50rem;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    top: 65rem;


    font-family: 'Manrope';
    font-weight: 900;
    font-size: 5rem;
    line-height: .7rem;


    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}


.wrapper .img-content{
    position: absolute;

    width: 50vw;
    height: 50hw;
    left: 50%;
    right: 50%;
    top: 70rem;
 

    transform: translateX(-50%);
   
    
}


/* ============================================= MENU ======================================== */

.logo, .open-menu, .close-menu{
    background-color: var(--primary-color);
    border: none;

    position: relative;
    margin-top: 3rem;
    padding: 1.6rem 3.2rem;
    width: fit-content; /* largura fica adaptada ao conteudo*/


    display: flex; /*mexe com os filhos do elemento*/
    align-items: center;
    justify-content: center;


    text-decoration: none; 
}

.menu,
.close-menu{
    visibility: hidden;
    opacity: 0;
}


body.menu-expanded .menu,
body.menu-expanded .close-menu{
    visibility: visible;
    opacity: 1;
    
}

body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded .open-menu{
    visibility: hidden;
}

body.menu-expanded .menu{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding-top: 8rem;

    background: var(--primary-color);
  

    transform: translateY(0);
    transition: transform 300ms;
}

body.menu-expanded,
.wrapper .logo, 
.close-menu{
    z-index: 3;
}

body.menu-expanded
.menu ul{   /*aplica apenas para o filho ul*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
    margin-top: 7rem;
    width: 100vw;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
    list-style: none;
   
}

body.menu-expanded
.menu ul li a{
    list-style: none;
    color: white;
    text-decoration: none;
    font-family: 'Manrope';


 
}


body.menu-expanded
.menu ul li{
    content: "";
    position: relative;
    border-bottom: 1px solid black;
    width: 50%;
    height: 5rem;
}

body.menu-expanded
.menu ul li:hover{
    border-left: 5px solid var(--secondary-color);
     
}

.menu{
    transform: translateY(100%)
}

